[data-bs-theme="light"]{
    background-image: url(../images/background_home_light.svg);
    background-size: cover;
    background-position: center;
}

[data-bs-theme="dark"]{
    background-image: url(../images/background_home_dark.svg);
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 400px){
    .detalles{
        font-size: 0.8rem;
    }
}